<div class="view__paywall view__paywall--{{paywallStateClass}}" data-view-paywall data-test-view-paywall data-paywall-active="{{paywallActive}}" role="dialog" aria-modal="false" aria-labelledby="view-paywall-heading">
  <div class="view__paywall-fade" aria-hidden="true"></div>
  <div class="view__paywall-modal">
    <h2 class="view__paywall-heading" id="view-paywall-heading">Public access expired</h2>
    <p class="view__paywall-body">Save this link to your readplace queue to see the full content.</p>
    <a class="view__paywall-save" href="{{saveHref}}" data-test-view-paywall-save>Save to My Queue</a>
  </div>
</div>
