    <main class="view">
      <div class="reading-layout">
        <div class="reading-layout__main">
          <div class="view__body" data-article-body>
            {{{innerContent}}}
          </div>
          <div class="view__share-row">
            {{{shareBalloon}}}
          </div>
        </div>
        <div class="reading-layout__rail" data-test-reader-rail></div>
      </div>
      {{{saveTipHtml}}}
    </main>
    <aside class="view__cta" data-test-view-cta>
      <div class="view__cta-content">
        {{#each ctaItems}}
        {{{html}}}
        {{/each}}
      </div>
    </aside>
