<div class="view__paywall view__paywall--inactive" data-view-paywall data-test-view-paywall data-paywall-active="false" data-expires-at="{{expiresAtIso}}" role="dialog" aria-modal="false" aria-labelledby="view-paywall-heading">
  <div class="view__paywall-fade" aria-hidden="true"></div>
  <div class="view__paywall-modal">
    <h2 class="view__paywall-heading" id="view-paywall-heading">Public access expired</h2>
    <p class="view__paywall-body">{{#if sharerInactive}}The person who shared this doesn't have an active Readplace subscription. {{/if}}Sign in to save it to your queue and read the whole article in reader view.</p>
    <a class="view__paywall-save" href="{{saveHref}}" data-test-view-paywall-save>Save to My Queue</a>
  </div>
</div>
