    <main class="view">
      <article class="view__body" data-article-body>
        {{{innerContent}}}
        {{{paywall}}}
      </article>
      <div class="view__share-row">
        {{{shareBalloon}}}
      </div>
      {{{saveTipHtml}}}
    </main>
    <aside class="view__cta" data-test-view-cta>
      <div class="view__cta-content">
        {{#each actions}}
        <div class="view__cta-item">
          <a class="btn btn--{{variant}} view__cta-btn" href="{{href}}" data-test-view-cta-action{{#if expirySaveLink}} data-expiry-save-link{{/if}}{{#if saveTipState}} data-save-tip="{{saveTipState}}"{{/if}}>{{name}}</a>
        </div>
        {{/each}}
      </div>
      <p class="view__expiry view__expiry--{{expiryState}}" data-test-view-expiry data-expiry-state="{{expiryState}}"{{#if expiresAtIso}} data-expires-at="{{expiresAtIso}}"{{/if}}>{{expiryMessage}}</p>
    </aside>
